body {
  --half-time: all .5s linear .5s;
  --start-time: all .5s linear 0s;
}

@keyframes fadeCycle {
  0%   { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes fadeUp {
  0%   { opacity: .75; }
  100% { opacity: 0; }
}

@keyframes heightCycle {
  from{ top: 10vh; }
  to{ top: 50vh; }
}
#warmCont {
  left: var(--side-offset);
}

#coolCont {
  right: var(--side-offset);
}

#dimScreen.dim {
  opacity: 0.5;
}

#useLeft.dim, #useRight.dim {
  opacity: 1;
}

#attract[state='Focus'] {
  top: 0;
  /*opacity: 1;*/
  /*display: block;*/
}
#attract[state='none'] {
  top: -110vh;
  /*opacity: 0;*/
  /*display: none;*/
}

#attract[state*='Focus']:not([state='Focus']){
  /*opacity: 0;*/
  top: -55vh;
}

.graphTap {
  animation: fadeCycle 2s infinite alternate;
}

#attractWords {
  animation: heightCycle 15s infinite alternate ease;
}

.graphCont {
  --cont-width: 48.5vw;
  width: var(--cont-width);
}

.graphCont[state='blur'] {
  --side-offset: -50vw;
}

.graphCont:not([state='blur']){
  --side-offset: 1vw;
}

.graphCont[state='none']{
  --cont-width: 48.5vw;
}

.graphCont[state*='Focus']{
  --cont-width: 98vw;
}

.graphCont flip-book {
  opacity: 0;
}

.graphCont[state='Focus'] flip-book {
  opacity: 1;
}

.graphCont .graphTap{
  opacity: 1;
}

.graphCont[state='Focus'] .graphTap{
  /*animation: fadeUp .25s 1 forwards;*/
  animation: none;
  transition: var(--half-time);
  opacity: 0;
}

/* Timing Functions */

#dimScreen, #useLeft, #useRight {
  transition: all .5s linear 0s;
}

#attract {
  transition: all .25s linear 0s;
}

.graphCont[state='blur'] {
  transition: var(--start-time);
}

.graphCont[state='none'] {
  transition: var(--half-time);
}

.graphCont[state='gainFocus'] {
  transition: var(--start-time);
}

.graphCont[state='loseFocus'] :-webkit-any(flip-book, .graphTap) {
  transition: var(--start-time);
}

.graphCont[state='Focus'] :-webkit-any(flip-book, .graphTap) {
  transition: var(--half-time);
}
