@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Thin.ttf);
}

html, body {
	margin: 0;
	color: #ddd;
	font-family: roboto,sans-serif;
	font-weight: lighter;
	width:100%;
	height:100%;
	text-align: center;
  cursor: none;
  z-index: -100;
  overflow: hidden;
}

body {
  background: #2a2a2a url("../img/bg.png") repeat;
}

#outer {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:90vmin;
  height: 90vmin;
  background-color: #fff;
  border-radius: 45vmin;
}

#track {
  position: absolute;
  width:10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f00;
}
