body {
  --half-time: all .5s linear .5s;
  --start-time: all .5s linear 0s;
}

@keyframes fadeCycle {
  0%   {
    box-shadow: 0em 0em .25em .25em rgba(0,0,0,.5) inset;
  }
  100% {
    box-shadow: 0em 0em 0em 0em rgba(0,0,0,75) inset;
  }
}

.rotate90 {
  transform: rotate(180deg);
}

.dot {
  animation: fadeCycle 2s linear infinite alternate;
}

#screensaver {
  display:none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);

  --img-sz: 30vw;
}

#screensaver.active {
  display: block;
}

@keyframes vertBounce {
  0%   {
    top: 0
  }
  100% {
    top: calc(100vh - var(--img-sz));
  }
}

@keyframes horBounce {
  0%   {
    left: 0
  }
  100% {
    left: calc(100vw - var(--img-sz));
  }
}

#screensaver.active #bouncer {
  position: absolute;
  width: var(--img-sz);
  height: var(--img-sz);
  left: 0;
  top: 0;

  animation: vertBounce 7s linear infinite alternate, horBounce 6s linear infinite alternate;
}
