:host {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  text-align: center;
}

:host video {
  display: inline;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 75vw;
  height: auto;
  max-height: var(--cam-max-height);
  /* max-height: 80vh; */
}

:host canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  max-height: var(--cam-max-height);
  /* max-height: 80vh; */
}
