:host {
  display: inline-block;
	font-family: monospace;
  width: 100%;
	height: calc(var(--item-hgt) * 2);
	font-size: calc(var(--item-hgt) * .75);
	text-align: left;
	color: #333;
	margin-bottom: 1vh;
}

:host .cell {
  position: relative;
}

:host .quant {
}

:host .priceDiv {
	float: right;
	color: #449;
}

:host .unit {
	margin-right: 10vw;
}

:host .opts {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--item-hgt) * 2);
  background-color: rgba(0,0,0,.5);
  border-radius: calc(var(--item-hgt) / 4);
  transform: scaleX(0);
  transform-origin: left center;
  padding-left: calc(var(--item-hgt) / 2);
  line-height: calc(var(--item-hgt) * 2);
}

:host .opts.show {
  transform: scaleX(1);
  transition: transform .25s;
}

:host .opts .button {
  height: calc(var(--item-hgt));
  font-family: sans-serif;
  padding: calc(var(--item-hgt) / 8);
  border-radius: calc(var(--item-hgt) / 8);
  color: #fff;
}

:host .opts .update {
  background-color: #2a5;
}


:host .opts .delete {
  background-color: #a22;
}
