/*@font-face {
    font-family: roboto;
}*/

html, body {
	margin: 0;
	color: #ddd;
	/* font-family: sans-serif;
	font-weight: lighter;
	width:100%;
	height:100%;
	text-align: center;
  cursor: none;
  z-index: -100;
  overflow: hidden; */
}

div {
	box-sizing: border-box;
}

body {
  background-color: #ccc;
	overflow: hidden;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	--top-bar-hgt: 1px;
	--bottom-bar-hgt: 10vh;
	--list-area: 70vw;
	--control-area: calc(100vw - var(--list-area));
}

.topBar {
	color: #FFDD44;
	background-color: #0B5091;
	height: var(--top-bar-hgt);
	text-align: left;
	vertical-align: middle;
	font-family: serif;
	font-weight: lighter;
  line-height: var(--top-bar-hgt);
	font-size: calc(var(--top-bar-hgt) * .5);
	box-shadow: 0px .125em .125em rgba(0, 0, 0, .25);
}

.topBar .logo {
	display: inline-block;
	line-height: 2em;
	height: 1em;
	width: auto;
	margin-right: .5em;
	margin-left: 1em;
	margin-bottom: .25em;
	vertical-align: middle;
}

.topBar .timeSelect{
	font-size: .5em;
	float: right;
	margin-right: 5vw;
}

.feedback {
	position: fixed;
	bottom: 0;
	left: 0;
	width: var(--list-area);
	height: var(--bottom-bar-hgt);
	background-color: #ddd;
	box-shadow: 0 -.25em .5em rgba(0,0,0,.25);
	z-index: -2;
	padding: calc(var(--bottom-bar-hgt) / 4);
	color: black;
	font-family: sans-serif;
	box-sizing: border-box;
	text-align: right;
	font-size: calc(var(--bottom-bar-hgt) / 2);
	line-height: calc(var(--bottom-bar-hgt) / 2);
}

.feedback .noteLabel{
	display: inline-block;
	font-family: sans-serif;
	font-size: calc(var(--bottom-bar-hgt) / 2);
	margin-right: 2.5vw;
}

.feedback #totalCost {
	display: inline-block;
	width: 20vw;
	height: calc(var(--bottom-bar-hgt) / 2);
	background-color: #fff;
	box-sizing: border-box;
	border: solid black 1px;
	border-radius: calc(var(--bottom-bar-hgt) / 16);
	padding-left: 1vw;
	padding-right: 1vw;
}

.noteDiv {
	position: absolute;
	left: 2vw;
	top: calc(var(--bottom-bar-hgt) / 8);
	width: 37.5vw;
	height: calc(3 * var(--bottom-bar-hgt) / 4);
	background-color: #fff;
	border: 1px black solid;
	border-radius: calc(var(--bottom-bar-hgt) / 16);
	overflow: hidden;
	float: left;
	font-size: calc(3 * var(--bottom-bar-hgt) / 8)
}

#progIn {
	position: absolute;
	top: -5%;
	left: 0;
	height: 110%;
	width: 0;
	background-color: #9df;
}

#Notes {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: calc(3 * var(--bottom-bar-hgt) / 4);
	font-family: monospace;
	text-align: left;
	padding-left: 1em;
}

.leftArea {
	z-index: -10;
	margin: 0;
	position: absolute;
	width: var(--list-area);
	height: calc(100vh - (var(--bottom-bar-hgt) + var(--top-bar-hgt)));
	overflow-y: scroll;
}

#itemList {
	box-sizing: border-box;
	position: absolute;
	left: 5vw;
	top: 0;
	width: calc(100% - 10vw);
	min-height: 100%;
	background-color: #fff;
	padding: 5vw;
	padding-top: 2vw;
	--item-hgt: 5vh;
}

.controls {
	box-sizing: border-box;
	position: absolute;
	left: var(--list-area);
	top: var(--top-bar-hgt);
	width: var(--control-area);
	height: calc(100vh - var(--top-bar-hgt));
	padding: 2vh;
	color: black;
	font-family: sans-serif;
	box-shadow: -.25em 0 .5em rgba(0,0,0,.25);
	border-left: 1vh solid #333;
	background-color: #555;
	z-index: -1;
	overflow-y: hidden;
	--pad-width: calc(var(--control-area) - 4vh);
	--pad-height: 45vh;
	--mar-gin: .25vw;
}

.controls > .header {
	text-align: center;
	color: #fff;
	font-family: sans-serif;
	font-size:3vw;
	margin-bottom: 2vh;
}

.controls key-pad {
}

#coScan {
	--dialog-height: 50vh;
}

#coScan .buttons > div {
	margin-top: 2vh;
	background-color: #05c;
}

#coCancel {
	position: absolute;
	bottom: 11.5vh;
	left: 2vh;
	width: var(--pad-width);
	height: 7.5vh;
	border: #ccc solid 1px;
	border-radius: 1vh;
	box-sizing: border-box;
	text-align: center;
	line-height: 7.5vh;
	font-size: 3.75vh;
	color: #fff;
	background-color: #a22;
}

#coCancel:active {
	filter: brightness(.75);
}

#checkout {
	position: absolute;
	bottom: 2vh;
	left: 2vh;
	width: var(--pad-width);
	height: 7.5vh;
	border: #ccc solid 1px;
	border-radius: 1vh;
	box-sizing: border-box;
	text-align: center;
	line-height: 7.5vh;
	font-size: 3.75vh;
	color: #fff;
	background-color: #2a5;
}

#checkout:active {
	filter: brightness(.75);
}

div.title {
	font-weight: bold;
	margin-bottom: 1em;
	width: 100%;
	border-bottom: 1px rgba(0,0,0,.25) solid;
}

.section {
	width: calc(25vw - 4vh - 1em);
	background-color: rgba(0,0,0,.0625);
	border-radius: .5em;
	margin-bottom: .5em;
	padding: .5em;
}

.reveal {
	display: inline-block;
	transition: transform .25s;
	transform: rotate(90deg);
}

.opts {
	max-height: 0;
	overflow: hidden;
	transition: max-height .25s;
}

.opts.open {
	max-height: 100vh;
}

.sub {
	margin-left: 1em;
	display: inline-block;
	width: calc(100% - 1em);
	margin-bottom: .25em;
	border-bottom: 1px rgba(0,0,0,.125) solid;
	padding-bottom: .25em;
}

.sub input {
	display: inline-block;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	--dialog-width: 75vw;
	--dialog-height: 75vh;
}

#overlays[mode='welcomeScan'] #welcomeOL {
	display: block;
}

#overlays[mode='quant'] #quantOL {
	display: block;
}

#overlays[mode='acct'] #userInfoOL {
	display: block;
}

#overlays[mode='signedIn'] #signInOL {
	display: block;
}

#overlays[mode='acctScan'] #acctScan, #overlays[mode='signInScan'] #acctScan {
	display: block;
}

#overlays[mode='coScan'] #coScan {
	display: block;
}

#overlays[mode='rcpt'] #rcptOL {
	display: block;
}

#rcptOL .buttons > div {
	margin-top: 2vh;
	background-color: #05c;
}

#qrcodeCV {
	height: 20vh;
	width: 20vh;
	display: inline-block;
	border: 5px solid navy;
}

#cancelRcpt {
	display: inline-block;
	width: var(--pad-width);
	height: 7.5vh;
	border: #ccc solid 1px;
	border-radius: 1vh;
	box-sizing: border-box;
	text-align: center;
	line-height: 7.5vh;
	font-size: 3.75vh;
	color: #fff;
	background-color: #a22;
}

#cancelRcpt:active {
	filter: brightness(.75);
}


.midFloat {
	--padding-size: 10vh;
	position: fixed;
	top: calc((100vh - var(--dialog-height)) / 2);
	left: calc((100vw - var(--dialog-width)) / 2);
	width: var(--dialog-width);
	height: var(--dialog-height);
	background-color: rgba(0, 10, 40, .85);
	border-radius: 1vh;
	text-align: center;
	padding: var(--padding-size);
	font-size: 7.5vh;
	font-family: sans-serif;
	box-sizing: border-box;
	color: #fff;
	border: 5px solid white;
	overflow: hidden;
}

#welcomeOL .midFloat{
	/* display: block; */
	--dialog-height: 100vh;
	--dialog-width: 100vw;
	padding-top: 30vh;
	padding-left: 5vh;
	padding-right: 5vh;
	border: 5px solid rgb(0,10,40);
}

#welcomeOL .icon {
	display: inline-block;
	width: calc(var(--dialog-width) / 4);
	height: calc(var(--dialog-height) / 2.5);
	font-size: 5vh;
	border: 2px solid rgb(0,5,20);
	border-radius: 2vh;
	margin: 1vh;
	padding: 2vh;
	padding-top: 5vh;
	background-color: #0B5091;
	color:  #F3B61D;
}

#welcomeOL .icon img{
	height: 15vh;
	width:auto;
	display: inline-block;
}

#quantOL {
	--pad-width: 21vw;
	--pad-height: 45vh;
	--mar-gin: .25vw;
}

/* .overlay.show {
	display: block;
} */

#quantOL .leftSide {
	position: absolute;
	top: 10vh;
	left: 10vh;
	width: calc((var(--dialog-width) - 2 * var(--padding-size)) / 2 );
}

#quantOL .rightSide {
	position: absolute;
	top: 10vh;
	right: 10vh;
}

#quantOL .buttons{
	position: absolute;
	bottom: 5vh;
	left: 10vh;
	text-align: center;
	width: calc((var(--dialog-width) - 2 * var(--padding-size)));
}

.overlay .buttons div{
	display: inline-block;
	margin-left: 10vh;
	margin-right: 10vh;
	font-family: sans-serif;
	font-size: 5vh;
	border: 1px solid #000;
	border-radius: 2vh;
	height: 10vh;
	line-height: 10vh;
	padding-left: 5vh;
	padding-right: 5vh;
	color: #fff;
}

#quantOL #quantCancel {
	background-color: #900;
}

#quantOL #quantAccept {
	background-color: #090;
}

#quantOL .buttons div:active {
	filter: brightness(.5);
}

#quantOL key-pad{

}

#signInOL {
	--dialog-width: 75vw;
	--dialog-height: 30vh;
}

#acctScan {
	--dialog-height: 35vh;
}

#acctScan .buttons div {
	margin-top: 2vh;
	background-color: #05c;
}

#userInfoOL {
	--header-hgt: 10vh;
}

#userInfoOL .midFloat {
	--padding-size: 5vh;
	padding-top: 2vh;
	/* background-color: #ddd; */
	/* color: #33a; */
  --dialog-width: 65vw;
}

#userInfoOL .header {
	width: calc(var(--dialog-width) - 2 * var(--padding-size));
	height: var(--header-hgt);
	font-size: calc(var(--header-hgt) / 2)
}

#userInfoOL .stats {
	text-align: left;
	width: calc((var(--dialog-width) - 2 * var(--padding-size)));
	/* height: calc(75vh - 2 * var(--padding-size) - var(--header-hgt)); */
	padding-right: 2vh;
	line-height: normal;
	overflow-y: hidden;
}

#userInfoOL .stats input {
	display: block;
	margin-bottom: 2vh;
	width: 100%;
	font-size: 3vh;
	padding: 1vh;
	border-radius: .5vh;
	border: 1px #333 solid;
	box-sizing: border-box;
}

#userInfoOL .stats input.warn {
	border: 2px #d00 solid;
}

#userInfoOL input[type='checkbox'] {
	float: left;
	width: auto;
	display: block;
}

#userInfoOL label{
	float: left;
	font-size: 2vh;
	margin-left: 2vw;
}

#userInfoOL .buttons {
	width: calc((var(--dialog-width) - 2 * var(--padding-size)));
	text-align: center;
	display: block;
}

#userInfoOL .buttons > div {
	border: 1px #333 solid;
	border-radius: .5vh;
	height: 5vh;
	font-size: 3vh;
	line-height: 5vh;
	text-align: center;
	width: calc((var(--dialog-width) - 8 * var(--padding-size)) / 2);
	color: #333;
	font-family: sans-serif;
	display: inline-block;
	background-color: #fff;
	margin-left: var(--padding-size);
	margin-right: var(--padding-size);
}

#userInfoOL .buttons > div:active {
  filter: invert(1);
}

#userInfoOL .cancel {
	border: 1px #333 solid;
	border-radius: 1
}
